#calculator {
  text-align: center;
  width: 350px;
  height: 350px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 1fr 1fr 1fr 1fr ;
  grid-gap: 3px;
  grid-template-areas: "display display display   display"  "seven   eight   nine     clear " "four    five    six       add" "one     two     three    subtract " "zero     equals  divide  multiply" ; }


#display-container {
  grid-area: display;
  background-color: #d4d4d4;
  margin: 2% 0 1% 0;
  color: #eee;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  overflow-y: auto; }
  #display-container #list-result {
    background-color: #b9b9b9;
    color: #000000;
    width: 95%;
    font-size: 1.2em;
    margin: 1% 3%;
    overflow-y: auto;
    height: 100% }
    #display-container #list-result .result {
      margin: 1% 5%; }
  #display-container #all-result-view {
    width: 95%;
    margin: 1% 3%;
    background-color: #ffffff;
    color: #000000; }
    #display-container #all-result-view #calculation {
      font-size: 1.2em;
      margin: 1% 3%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      word-break: break-word; }
    #display-container #all-result-view #display {
      font-size: 1.4em;
      margin: 1% 3%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      word-break: break-word; }

.button {
  color: black;
  border-radius: 5%;
  box-shadow: inset 0px 0px 6px #fff;
  font-size: 1.3em;
  text-shadow: 0px 1px 2px white;
  padding: 4%;
  font-family: Inconsolata, sans-serif;
  border: none;
  box-sizing: border-box; }
  .button:focus {
    outline: none; }

.number, .sign, .decimal {
  background-color: #d4d4d4; }
  .number:focus, .sign:focus, .decimal:focus {
    border: 1px solid #eeeeee; }
  .number:active, .sign:active, .decimal:active {
    background-color: #cccccc; }

.operator {
  background-color: #b3b2b2; }
  .operator:focus {
    border: 1px solid #cdcbcb; }
  .operator:active {
    background-color: #acaaaa; }

.equals {
  background-color: #fff0c3 ; }
  .equals:focus {
    border: 1px solid #f7ead8; }
  .equals:active {
    background-color: #edd0a9; }

.clear, .backspace {
  background-color: #fff4d2; }
  .clear:focus, .backspace:focus {
    border: 1px solid #fffefb; }
  .clear:active, .backspace:active {
    background-color: #fff0c3; }

body {
  background-color: #ffffff; }


